springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /docs

spring:
  application:
    name: script-manager-backend

  datasource:
    url: jdbc:sqlite:${DB_PATH:/Users/chingcheonglee/Repos/rust/2025-10-27-shell-script-manager-tauri/src-tauri/database.db}
    driver-class-name: org.sqlite.JDBC

  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          use_get_generated_keys: false

server:
  port: 7070

logging:
  level:
    com.scriptmanager: DEBUG
    org.hibernate.SQL: DEBUG
